= paginate @messages, :params => { :anchor => 'message_section' }

%table.table.table-striped
  %thead
    %tr
      %th Time
      %th Channel
      %th Badge
      %th Alert
      %th Payload
  %tbody
    - @messages.each do |message|
      %tr
        %td= message.updated_at
        %td= message.channel.name
        %td= message.badge
        %td= message.alert
        %td= message.message_payload
