<h1>Listing outages</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outages.each do |outage| %>
  <tr>
    <td><%= outage.title %></td>
    <td><%= link_to 'Show', api_v1_outage_path(outage) %></td>
    <td><%= link_to 'Edit', edit_api_v1_outage_path(outage) %></td>
    <td><%= link_to 'Destroy', api_v1_outage_path(outage), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Outage', new_api_v1_outage_path %>
