%h1 Push Notification Extension Settings
.container
  %h1 Channels
  %table
    %tbody
      %tr 
        %th name
        %th devices
        %th{colspan: '2'} action
        - @channels.each do |channel|
          %tr
            %td= channel.name
            %td
              %p= channel.devices.map {|m| "#{m.token.slice(0,20)}..." }.join("\n")
            %td 
              = link_to 'Edit', edit_channel_path(channel) 
            %td
              = link_to 'Push', push_channel_path(channel) 
              
    
  = link_to "Add channel", new_channel_path
  %h1 Devices
  %table
    %tbody
      %tr 
        %th type
        %th token
        %th action
      - @devices.each do |device|
        %tr
          %td= device.type
          %td= "#{device.token.slice(0,20)}..."
          %td= link_to 'Edit', edit_device_path(device)
  = link_to "Add device", new_device_path


