
= stylesheet_link_tag 'admin'
= javascript_include_tag 'admin'
= csrf_meta_tags

%h1 Push Notification Extension Settings
.container
  %h1 Channels
  %table
    %tbody
      %tr 
        %th name
        %th devices
        %th action
        - @channels.each do |channel|
          %tr
            %td= channel.name
            %td
              %p= channel.devices.map {|m| "#{m.token.slice(0,20)}..." }.join("\n")
            %td
              = link_to 'Edit', edit_channel_path(channel)
              = link_to 'Push', push_channel_path(channel)
            
  %h1 Devices
  %table
    %tbody
      %tr 
        %th type
        %th token
      - @devices.each do |device|
        %tr
          %td= device.type
          %td= "#{device.token.slice(0,20)}..."



