%ul.breadcrumb
  %li
    = link_to 'Home', main_app.admin_root_path

  %li
    = link_to 'Extensions', main_app.admin_extensions_path

  %li.active Push Notifications

.page-header
  %h1 Push Notifications
  %p Manage push notification settings.

- if notice
  .alert.alert-info
    %p= notice

.row
  .col-md-6
    %h4 Channels
    = link_to new_channel_path, class: 'btn btn-xs btn-primary' do
      %i.fa.fa-plus
      Add channel
    - if @channels.size == 0
      .alert No channels yet.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Devices
            %th
        %tbody
          - @channels.each do |channel|
            %tr
              %td= link_to channel.name, edit_channel_path(channel)
              %td.ap-mono= channel.devices.map {|m| "#{m.token.slice(0,20)}..." }.join("\n")
              %td
                .btn-group.pull-right
                  = link_to edit_channel_path(channel), class: 'btn btn-default btn-xs' do
                    %i.fa.fa-pencil
                    Edit
                  = link_to push_channel_path(channel), class: 'btn btn-default btn-xs' do
                    %i.fa.fa-cloud-upload
                    Push

  .col-md-6
    %h4 Devices
    = link_to new_device_path, class: 'btn btn-xs btn-primary' do
      %i.fa.fa-plus
      Add device
    - if @devices.size == 0
      .alert No devices yet.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Type
            %th Token
            %th
        %tbody
          - @devices.each do |device|
            %tr
              %td= device.type
              %td.ap-mono= "#{device.token.slice(0,20)}..."
              %td
                = link_to edit_device_path(device), class: 'btn btn-default btn-xs pull-right' do
                  %i.fa.fa-pencil
                  Edit
.div#message_section
  .row
    .col-md-15
      %h4 Previous Pushes
      = render :partial => 'push_notification_extension/shared/messages'
