%h1 Available devices to add

= simple_form_for(@channel) do |f|
  %table
    %tbody
      %tr 
        %th type
        %th token
        %th select
      - @available_devices.each do |device|
        %tr
          %td= device.type
          %td= device.token
          %td= check_box_tag "device_ids[]", device.id

  = f.button :submit
          