= paginate @messages

%table.table.table-striped
  %thead
    %tr 
      %th Time
      %th Badge
      %th Alert
      %th Payload
  %tbody
    - @messages.each do |message|
      %tr
        %td= message.updated_at
        %td= message.badge
        %td= message.alert
        %td= message.message_payload
