.text-info
  %h3 Push
= simple_form_for(@channel, :url => manual_push_channel_path) do |f|
  .form-inputs
    = f.error :base
    = f.error_notification
    = f.label :badge
    = text_field_tag :badge
    = f.label :alert
    = text_field_tag :alert
    = f.label :message
    = text_field_tag :message
  .form-actions 
    = f.button :submit, "Push", {class: 'btn btn-primary'}