%ul.breadcrumb
  %li
    = link_to 'Home', main_app.admin_root_path
    %span.divider /
  %li
    = link_to 'Extensions', main_app.admin_extensions_path
    %span.divider /
  %li
    = link_to 'Push Notifications', settings_path
    %span.divider /
  %li= @channel.name

.page-header
  %h1= @channel.name

.row-fluid
  .span6
    .page-header
      %h4 Registered Devices
    - if @devices.size == 0
      .alert No devices yet.
    - else
      %table.table.table-striped
        %thead
          %tr 
            %th Type
            %th Token
        %tbody
          - @devices.each do |device|
            %tr
              %td= device.type
              %td.ap-mono= "#{shorten_device_token(device.token)}"

  .span6
    .page-header
      %h4 Add a Device to this Channel
    - if !@available_devices.blank?
      = render :partial => 'form'
    - else
      .alert No devices available.
