= link_to "Back to push notification settings", settings_path

.text-info
  %h3 Channel: #{@channel.name}
  %h3 Registered devices
%table.table.table-striped
  %tbody
    %tr 
      %th type
      %th token
    - @devices.each do |device|
      %tr
        %td= device.type
        %td= device.token

%div#form
  = render :partial => 'form'

