%ul.breadcrumb
  %li
    = link_to 'Home', main_app.admin_root_path
    
  %li
    = link_to 'Extensions', main_app.admin_extensions_path
    
  %li
    = link_to 'Push Notifications', settings_path
    
  %li
    Push
    = "(#{@channel.name})"

.row
  .col-md-6
    %h4 Channel: #{@channel.name}
    = render :partial => 'push_form'
  .col-md-6
    %h4 Previous Pushes
    = render :partial => 'messages'
